{% extends "lessons/child_base.html" %}
{% load static %}

{% block title %}
    Your shopping cart
{% endblock %}

{% block content %}
    <div class="container px-1 mx-auto">
        <h1 class="text-center">Your shopping cart</h1>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="text-center">Image</th>
                    <th class="text-center">Product</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Remove</th>
                    <th class="text-center">Unit price</th>
                    <th class="text-center">Price</th>
                </tr>
                </thead>
                <tbody>
                {% for item in cart %}
                    {% with product=item.product %}
                        <tr>
                            <td class="text-center">
                                <a href="{{ product.get_absolute_url }}">
                                    <img src="
                                            {% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}"
                                         width="300">
                                </a>
                            </td>
                            <td class="text-center">{{ product.name }}</td>
                            <td class="text-center">
                                <form action="{% url "cart:cart_add" product.id %}" method="post" class="d-inline">
                                    {{ item.update_quantity_form.quantity }}
                                    {{ item.update_quantity_form.override }}
                                    <button type="submit" class="btn btn-outline-primary btn-sm">Update</button>
                                    {% csrf_token %}
                                </form>
                            </td>
                            <td class="text-center">
                                <form action="{% url "cart:cart_remove" product.id %}" method="post" class="d-inline">
                                    <button type="submit" class="btn btn-outline-danger btn-sm">Remove</button>
                                    {% csrf_token %}
                                </form>
                            </td>
                            <td class="text-center num">€{{ item.price }}</td>
                            <td class="text-center num">€{{ item.total_price }}</td>
                        </tr>
                    {% endwith %}
                {% endfor %}
                <tr class="total">
                    <td class="text-center" colspan="4"><strong>Total</strong></td>
                    <td class="text-center num"><strong>€{{ cart.get_total_price }}</strong></td>
                    <td class="text-center"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <p class="text-end">
            <a href="{% url "lessons:product_list" %}" class="btn btn-outline-secondary btn-sm">Continue shopping</a>
            <a href="{% url "orders:order_create" %}" class="btn btn-primary btn-sm">Checkout</a>
        </p>
    </div>
{% endblock %}
