{% extends "base.html" %}
{% load static %}
{% block content %}
     <!--CTA-->
   <div class="container py-5">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6 pb-4">
      <h1 class="display-4 font-weight-bold">Swimming is for Life</h1>
      <h5 class = "fw-light">Swimming has many benefits, including improving cardiovascular fitness, strengthening muscles, increasing flexibility, and providing a low-impact cardiovascular workout. It can also help with weight loss and relaxation, and it can be enjoyed by people of all ages and fitness levels. Swimming can also be a fun and social activity, as it can be done with friends or as part of a team.</h5>
      <a class="btn btn-primary mt-2" href="/products">Timetable for Everything</a>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6">
      <img class = "img-fluid rounded" src="{% static 'img/swimming-goggles.jpg' %}" alt="Headphones">
    </div>
  </div>
</div>

    <div class="container text-dark mt-5">
        <div class="row justify-content-md-center">
          <div class="col-md-5 p-3">
{#               more content #}
          </div>
        </div>
      </div>
{% endblock content %}

