{% extends 'base.html' %}
{% load static %}
{% block subhead %}
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    {#    {% block title %}My shop{% endblock %}#}
{% endblock %}
{% block cart %}
    <div id="subheader">
    <div class="cart">
        {% with total_items=cart|length %}
            {% if total_items > 0 %}
                Your cart:
                <a href="{% url "cart:cart_detail" %}">
                    {{ total_items }} item{{ total_items|pluralize }},
                    €{{ cart.get_total_price }}
                </a>
            {% elif not order %}
                Your cart is empty.
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}


<div id="content">
    {% block content %}
    {% endblock %}
</div>
{% block footer %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <p class="text-left">Copyright © Morgan
            </div>
        </div>
    </div>
    </div>

{% endblock %}
